*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sen', sans-serif;
}

body{
    background: cover url(https://lh3.googleusercontent.com/proxy/0e1qRIAbmajBQSmp7uSe6OVnLAN4cJhpqGVd4wNmAd7_GD1FZWuYXNUYX6bp35nlVs6mj4XlXxPCsJuw4kkATBA4oemMAyghMx8YiCkP3j05J4FldjvwtVTYTbfG4XQ-qmY7uVhYp2Wn);

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;

}

.card-container{
    box-shadow: 0 2px 8px 0 rgb(0, 0, 0, 0.3);
    width: 100%;
    height: 80%;

}

.input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
}

.input-container h1{
    margin-bottom: 30px;
    animation: 6s colormulti 1;
}

@keyframes colormulti{
    10%{
        color: black;
    }

    30%{
        color: white;
    }

    60%{
        color: red;
        font-size: 30px;
    }

    90%{
        color: green;
    }
    95%{
        color: black;
        font-size: 36px;
    }

    100%{
        color: black;

    }
}


.input-container h2{
    margin: 20px;
    text-align: center;
}

.input-container input{
    border: 0;
    outline: 0;
    border-bottom: 2px solid black;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 60%;
    padding: 5px;
    font-size: 28px;
     
}

.input-container button{
   width:  20%;
   height: 20%;
   background-color: rgb(105, 155, 31);
   color: aliceblue; 
   font-size: 25px;
   box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.6 );
   animation: zoom 3s 1;
 }

 @keyframes zoom{

     90%{
         font-size: 26px;
     }

 }

.input-container button:hover{
     cursor: pointer;
     background-color: rgb(105, 175, 01);
 }

.task-container{
     display: flex;
     justify-content: center;
     margin-top: 20px;
     flex-direction: column;
     text-align: center;
 }

.task-container h1{
    margin-bottom: 50px;
    margin-top: 20px;
    animation: ghost 3s 1;

 }

 @keyframes ghost {     
    
    
    30%{
        display: flex;
        font-size: 18px;
        color: brown;
    }
    60%{
        display: flex;
        font-size: 20px;
    }
    90%{
        font-size: 26px;
        color: green;
}


     
 }


.task-container li{
     box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2);
     margin-top: 30px;
     margin-bottom: 20px;
     display: flex;
     padding: 10px;
     border-radius: 20px 20px;
     justify-content: space-between;
     width: 80%;
     margin-left: 10%;
     
 }

.task-container .delete-task h4:hover{
    cursor: pointer;
 }

 #task-list li{
     font-size: 35px;
     padding: 20px;
     background-color: rgb(241, 240, 240);
 }

